/* Otros estilos que ya tienes */

/* Animación de destello */
@keyframes flash {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #ffff99;
  }
  100% {
    background-color: #f0f0f0;
  }
}

.prompt.flash {
  animation: flash 1s ease-in-out;
}

/* Estilos para el prompt seleccionado */
.selectedPrompt {
  background-color: #23005f !important;
  border: 1px solid white;
  position: relative;
}

.selectedLabel {
  top: -10px;
  right: 0;
  position: absolute;
  background-color: #23005f;
  color: #fff;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: 0.8rem;
}

/* Otros estilos */
.createPrompt {
  font-family: var(--font-body);
  font-size: var(--normal-size);
  padding: 10px 15px;
  position: relative;
}

.promptText {
  color: white;
}

.input {
  text-align: center;
  width: 120px;
  margin: 5px 0px;
  padding: var(--input-padding);
  border-bottom: 1px solid var(--white-o);
}

.select {
  text-align: center;
  width: 120px;
  margin: 5px 0px;
  padding: var(--input-padding);
  border-bottom: 1px solid var(--white-o);
  
}

.selectNumber {
  text-align: center;
  width: 120px;
  margin-bottom: 10px;
  padding: var(--input-padding);
  border-bottom: 1px solid var(--white-o);
}

.input,
.select,
.selectNumber {
  background-color: var(--bg-secondary);
  color: white;
}

.input:focus,
.select:focus,
.selectNumber:focus {
  border-bottom: 1px solid var(--white);

}


/* Lista de templates de prompt */

.moreTemplatesBtn {
  position: absolute;
  top: 0;
  right: -40px;
  padding: var(--input-padding);
  transition: all 0.1s ease-in;
  background-color: var(--secondary-color);
  outline: 2px solid var(--secondary-color-hover);
}

.moreTemplatesBtn:hover {
  border-radius: 1px;
  background-color: var(--secondary-color-hover);
  outline-color: var(--secondary-color);
}

.promptTemplates {
  position: absolute;
  background-color: var(--secondary-color-hover);
  color: white;
  width: calc(100% - 450px);
  height: calc(100vh - 500px);
  min-width: 300px;
  min-height: 300px;
  max-width: 600px;
  max-height: 350px;
  padding: 20px;
  border-left: 2px solid var(--secondary-color);
  box-shadow: -3px 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 100;
}

.showPromptTemplates {
  display: block;
}

.hidePromptTemplates {
  display: none;
}

.prompt {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--black-o);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

// .closeTemplatesBtn{
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   color: white;
//   transition: background-color 0.2s ease-in-out;
// }

// .closeTemplatesBtn:hover{
//   background-color: var(--white-o);
// }

.prompt:hover {
  background-color: var(--secondary-color);
}
