.question {
  height: 25%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: clamp(16px, 4.3vw, 2rem);
  font-family: var(--font-heading);
  text-align: center;
}

.alternatives-container {
  padding: 20px 0;
  font-size: clamp(11px, 2vw, 20px);
  font-family: var(--font-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  width: clamp(300px, 100%, 1000px);
}

.alternative {
  margin-bottom: 20px;
  background-color: var(--normal-answer);
  width: 100%;
  padding: clamp(12px, 2.5vw, 30px);
  box-shadow: 0px 5px 0px var(--normal-answer-shadow);
  height: fit-content;
  border-radius: var(--normal-radius);
  font-size: 15px;
}

.alternative label {
  display: flex;
  align-items: center;
}

.alternative span {
  font-weight: medium;
  font-size: 25px;
  margin: 0px 15px 0px 15px;
  color: rgba(0, 0, 0, 0.1);
}

.alternative input:hover {
  cursor: pointer;
}

.alternative label:hover {
  cursor: pointer;
}

/* Cambios para cada alternativa de acuerdo a la veracidad de la respuesta */

.alternative.correct {
  border: 5px solid var(--success-color);
}

.alternative.correct::before {
  content: "Respuesta correcta";
  position: absolute;
  height: 20px;
  top: -30px;
  left: 0px;
  padding: var(--input-padding) 10px;
  background-color: var(--success-color);
  border-radius: var(--normal-radius);
  color: black;
}

.alternative.incorrect {
  background-color: var(--error-color);
  border: 5px solid var(--error-color);
}

.alternative.other {
  background-color: var(--primary-color);
}