/* @import url('variables.module.css'); */

.princPg {
  padding: var(--normal-padding);
  font-family: var(--roboto-font);
  font-weight: 400;

  main {
    transition: filter 0.1s ease-in-out;
  }

  #appPPage {
    width: 100vw;
    height: 100vh;
  }

  /* Main page */
  .slide-modes {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-family: var(--font-heading);
    font-size: clamp(2rem, 6vw, 4.5rem);
    text-align: center;
    line-height: 1.2;
    margin-bottom: 25px;

    span {
      background-image: linear-gradient(90deg, #b68cff, #5e00ff);
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  .phrase {
    font-family: var(--font-secondary);
    font-size: clamp(1rem, 1.8vw, 1.4rem);
    color: var(--gray);
    padding: 0 10vw;
    text-align: center;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* fileAlert.jsx */
  .file-alert {
    position: absolute;
    width: 90%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border: 2px solid var(--g-white-purple);
    border-radius: var(--border-size);
    text-align: center;

    .infoTxt {
      font-size: larger;
      color: var(--black);
      margin-bottom: 25px;
    }

    .moreInfo {
      font-size: var(--small-size);
      color: var(--black);
      margin-bottom: 25px;

      a {
        color: var(--link-color);
        text-decoration: none;
        transition: color 0.1s ease-out;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .continueBtn {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: var(--input-padding);
      transition: all 0.1s ease-out;
      border: none;

      &:hover {
        background-color: var(--btn-hover);
        border-radius: var(--border-size);
        cursor: pointer;
      }

      p {
        padding-right: 5px;
        font-size: medium;
      }
    }

    .closeBtn {
      padding: 5px;
      height: 35px;
      background-color: var(--gray);
      border-radius: 100%;
      position: absolute;
      top: calc(0% - 15px);
      right: calc(0% - 15px);
      transition: all 0.1s ease-out;

      &:hover {
        background-color: var(--gray-hover);
        cursor: pointer;
      }
    }

    .nextRow {
      width: 15px;
    }
  }
}

@media (max-width: 1540px) {
  .princPg {
    padding: var(--normal-padding-media);
  }
}
