@import url('variables.module.css');

body{
    color: var(--white);
    font-family: Arial, sans-serif;
    background-image: var(--bg-primary-to-b);
}

main{
    transition: filter .1s ease-in-out;
}

#appPPage {
    width: 100vw;
    height: 100vh;
}

/* Main page */

.slide-modes{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: -apple-system, var(--yaldevi-font);
    font-size: clamp(2rem, 6vw, 5rem);
    text-align: center;
    margin-bottom: 20px;
}

.title span{
    background-image: linear-gradient(90deg, #b68cff, #5E00FF);
    -webkit-background-clip: text;
    color: transparent;
}

.phrase{
    font-family: var(--poppins-font);
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modes-navBar{
    margin-top: 20px;
    margin-bottom: 20px;
}

.modes-navBar ul {
    font-size: clamp(8px, 13px, 17px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: fit-content;
    background-color: var(--white);
    padding: 10px;
    border-radius: 20px;
}


.selected{
    background-color: var(--secondary-color);
    padding: 10px;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    border-width: 0;
    color: white;
    transition: background-color .2s ease-out;
}

.selected:hover {
    background-color: var(--secondary-color-hover) ;
    cursor: pointer;
}

.non-selected{
    color: var(--black);
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
    border-width: 0;
    border-radius: 10px;
    transition: background-color .2s ease-out;
}

.non-selected:hover{
    background-color: var(--btn-hover) ;
    cursor: pointer;
}


.file-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    min-width: 350px;
    min-height: 300px;
    max-width: 600px;
    max-height: 350px;
    width: calc(100% - 450px);
    height: calc(100vh - 500px);
    border: 2px solid var(--white);
    border-style: dashed ;
    transition: all .2s ease-in-out;
    box-shadow: 0 3px 15px rgba(0,0,0,1);
}
.file-container:hover{
    background-color: rgba(255, 255, 255, 0.2);;
    cursor: pointer;
}

.file-container p {
    text-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;    
}

.file-container span {
    background-image: linear-gradient(90deg, #b68cff, #5E00FF);
    -webkit-background-clip: text;
    color: transparent;
}

.prompt-container{
    font-family: var(--poppins-font);
    font-size: 15px;
    padding: 10px;
    text-wrap: wrap;
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    min-width: 350px;
    min-height: 300px;
    max-height: 350px;
    max-width: 600px;
    width: calc(100% - 450px);
    height: calc(100vh - 700px);
    border: 2px solid var(--white);
    box-shadow: 0 3px 15px rgba(0,0,0,1);
}


/* Continue button */

.continueBtn{
    display: flex;
    justify-content: end;
}

.continueBtn button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--white);
    transition: background-color.2s ease-out;
}

.continueBtn button:hover{
    background-color: var(--secondary-color-hover);
    cursor: pointer;
}

#appPage {
    width: 100vw;
    height: 100vh;
}


/* fileAlert.jsx */

.file-alert {
    position: absolute;
    width: 90%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: var(--padding-size);
    border: 2px solid var(--g-white-purple);
    border-radius: var(--border-size);
    text-align: center;
}


.file-alert .infoTxt {
    font-size: larger;
    color: var(--black);
    margin-bottom: 25px;
}

.file-alert .moreInfo {
    font-size: var(--small-size);
    color: var(--black);
    margin-bottom: 25px;
}

.file-alert .moreInfo a {
    color: var(--link-color);
    text-decoration: none;
    transition: color .1s ease-out;
}

.file-alert .moreInfo a:hover {
    text-decoration: underline;
}

.file-alert .continueBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--input-padding);
    transition: all .1s ease-out;
    border: none;
}

.file-alert .continueBtn:hover {
    background-color: var(--btn-hover);
    border-radius: var(--border-size);
    cursor: pointer;
}

.file-alert .continueBtn p {
    padding-right: 5px;
    font-size: medium;
}

.file-alert .closeBtn {
    padding: 5px;
    height: 35px;
    background-color: var(--gray);
    border-radius: 100%;
    position: absolute;
    top: calc(0% - 15px);
    right: calc(0% - 15px);
    transition: all .1s ease-out;
}

.file-alert .closeBtn:hover {
    background-color: var(--gray-hover);
    cursor: pointer;
}

.file-alert .nextRow {
    width: 15px;
}
