.quiz-details {
  padding: var(--normal-padding);
  body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    color: var(--white);
    font-family: Arial, sans-serif;
    background-image: var(--bg-primary-to-b);
  }

  .title {
    font-family: var(--font-primary);
    line-height: 1.1;
    font-size: clamp(15px, 4vw, 25px);
    text-align: center;
  }

  .question-forms {
    font-family: var(--font-secondary);
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
  }

  .questions-qty,
  .questions-type,
  .form-difficulty {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      font-family: var(--font-primary);
      margin-bottom: 10px;
      text-align: start;
    }

    input,
    select {
      border: 1px solid var(--white-o);
      background-color: var(--black-o);
      color: var(--white);
      padding: 10px;
      border-radius: var(--normal-radius);
    }
  }

  .slideContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
  }

  /* Estilos para los cuestionarios */
  .styles-container {
    background-color: var(--black-o);
    border-radius: var(--normal-radius);
    padding: 20px;
    font-family: var(--font-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


    .styles {
      width: 100%;
    }

    .style {
      padding: 50px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      cursor: pointer;

      img {
        height: 100%;
        width: 250px;
        margin: 0px 10px;
      }
    }
  }

  .textContainer {
    width: 100%;
    overflow-x: hidden;
    text-align: center;

    h2 {
      text-align: center;
      padding: 0px 5px;
      font-size: clamp(30px, 8vw, 100px);
      font-family: var(--font-primary);
      line-height: 1.1;
      padding-bottom: 10px;
      text-shadow: -8px 8px 0px black;
    }

    p {
      font-family: var(--font-primary);
      font-size: clamp(15px, 1.5vw, 30px);
      overflow: hidden;
    }
  }

  /* Estilo para la imagen seleccionada */
  .image-selected {
    position: relative;
    animation: selectedImage 0.5s cubic-bezier(1, 0, 0.93, 0.1) forwards;
  }

  .image-selected-p {
    font-family: var(--font-primary);
    color: white;
    font-size: clamp(15px, 1.5vw, 20px);
    font-weight: 600;
    position: absolute;
    animation: show-selected-p 0.5s cubic-bezier(1, 0, 0.93, 0.1) forwards;
  }

  .selected-style-p {
    text-align: center;
  }
}

@media (max-width: 1540px) {
  .quiz-details {
    padding: var(--normal-padding-media);

  }
}

/* Animaciones */
@keyframes selectedImage {
  0% {
    box-shadow: none;
  }
  100% {
    scale: 1;
    box-shadow: 0px 0px 15px 5px var(--black-o);
    filter: brightness(50%);
  }
}

@keyframes show-selected-p {
  0% {
    opacity: 0;
    scale: 3;
  }
  100% {
    opacity: 1;
    scale: 1;
    text-shadow: 0px 0px 25px rgb(255, 255, 255);
  }
}
