@import url('variables.module.css');

body{
    overflow-x:hidden;
    width: 100vw;
    height: 100vh;
    color: var(--white);
    font-family: Arial, sans-serif;
    background-image: var(--bg-primary-to-b)
}

h1{
    margin-top: 20px;
    text-align: center;
}

.question-forms{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.questions-qty, 
.questions-type{
    display: flex;
    flex-direction: column;
}

.questions-qty label, 
.questions-type label{
    margin-bottom: 10px;
    text-align: center;
}

.questions-qty input, 
.questions-type select{
    color: var(--black);
    padding: var(--input-padding);
    border-radius: var(--border-size);
}

.styles-container {
    display: flex;
    justify-content: center;
}

.styles-container div{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    place-content: center;
    place-items: center;
}

.styles-container img{
    width: 100%;
    max-width: 350px;
    height: 100%;
    transition: all .1s linear;
}

.styles-container img:hover{
    box-shadow: 0 0 10px 2px var(--bg-primary);
    scale: 1.1;
    border-radius: var(--border-size);
    cursor: pointer;
}

h2, p {
    margin-top: 20px;
    text-align: center;
}

.continueBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--input-padding);
    transition: all .1s ease-out;
    border: none;
}

.continueBtn:hover {
    background-color: var(--btn-hover);
    border-radius: var(--border-size);
    cursor: pointer;
}