.quiz-details {
  padding: var(--normal-padding);
  body {

    display: flex;
    justify-content: center;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    color: var(--white);
    font-family: Arial, sans-serif;
    background-image: var(--bg-primary-to-b);
  }

  .title {
    font-family: var(--font-heading);
    line-height: 1.1;
    font-size: clamp(15px, 3.5vw, 25px);
    text-align: center;
  }

  .description {
    font-family: var(--font-secondary);
    text-align: center;
    color: var(--gray);
    margin-top: 10px;
    font-size: clamp(1.2rem, 143vw, 1rem);
  }

  .question-forms {
    font-family: var(--font-secondary);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    .form-topic {
      padding: 0 20px 20px 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .form-description {
      padding: 0 20px 20px 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    label {
      font-family: var(--font-body);
      font-size: larger;
      margin-bottom: 10px;
      text-align: start;
    }

    input,
    select,
    textarea {
      border: 1px solid var(--white-o);
      background-color: var(--black-o);
      color: var(--white);
      padding: 10px;
      border-radius: var(--normal-radius);
      font-family: var(--font-body);
    }
  }

  .slideContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
  }

  .styles-container {
    border-radius: var(--normal-radius);
    padding: 20px;
    font-family: var(--font-secondary);
    width: 100%;
  
    .styles {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 10px;
      width: 100%;
    }
  
    .style {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: auto;
  
      img {
        border: 3px solid white;
        border-radius: var(--normal-radius);
        object-fit: cover; 
        width: 100%;       
        height: 250px;     
        max-width: 100%;
      }
    }
  }
  
  

  .textContainer {
    width: 100%;
    overflow-x: hidden;
    text-align: center;

    h2 {
      text-align: center;
      padding: 0px 5px;
      font-family: var(--font-primary);
      font-size: clamp(20px, 5vw, 40px);
      line-height: 1.1;
      text-shadow: -8px 8px 0px black;
    }

    p {
      margin-top: 10px;
      font-family: var(--font-primary);
      font-size: clamp(1.1rem, 143vw, 1rem);
      overflow: hidden;
      color: var(--gray);

    }
  }

  /* Estilo para la imagen seleccionada */
  .image-selected {
    position: relative;
    animation: selectedImage 0.2s ease-in forwards;
  }

  .image-selected-p {
    font-family: var(--font-primary);
    color: white;
    font-size: clamp(15px, 1.5vw, 20px);
    font-weight: 600;
    position: absolute;
    animation: show-selected-p 0.2s ease-in forwards;
  }

  .selected-style-p {
    text-align: center;
  }
}

@media (max-width: 1540px) {
  .quiz-details {
    padding: var(--normal-padding-media);
  }
}

/* Animaciones */
@keyframes selectedImage {
  0% {
    box-shadow: none;
  }
  100% {
    scale: 1;
    box-shadow: 0px 0px 15px 5px var(--black-o);
    filter: brightness(50%);

  }
}

@keyframes show-selected-p {
  0% {
    opacity: 0;
    scale: 3;
  }
  100% {
    opacity: 1;
    scale: 1;
    text-shadow: 0px 0px 25px rgb(255, 255, 255);
  }
}
