:root {
  --bg-primary-to-b: linear-gradient(to bottom, #0f172a, #0f172a, #12294d);
  --bg-secondary: #121b31;
  --bg-secondary-hover: #17233f;
  --bg-tertiary: hsl(200, 100%, 10%);
  --bg-tertiary-hover: #00293d;
  --btn-color: #fff;
  --btn-hover: #dddddd;
  --black: #000000;
  --black-hover: #131313;
  --white: #ffffff;
  --white-hover: #d6d6d6;
  --gray: rgba(255, 255, 255, 0.8);
  --gray-hover: #c7c7c7;

  /* Opacitied colors */

  --white-o: rgba(255, 255, 255, 0.2);
  --black-o: rgba(0, 0, 0, 0.2);

  /* Gradients */

  --g-white-purple: linear-gradient(90deg, #fff, #5e00ff);

  --primary-color: #12294d;
  --primary-color-hover: #0f172a;
  --secondary-color: #5e00ff;
  --secondary-color-hover: #4900c7;
  --tertiary-color: #008bd0;
  --tertiary-color-hover: #0072a5;

  --correct-answer: linear-gradient(90deg, #008bd0, #00cfde);
  --correct-answer-shadow: #00e2f242;
  --normal-answer: #008cff;
  --normal-answer-shadow: #008cff50;

  --accept-question: linear-gradient(90deg, #5bd894, #30724e);
  --accept-question-hover: linear-gradient(90deg, #30724e, #5bd894);
  --refuse-question: #e0e0e0;
  --refuse-question-hover: #cfcfcf;

  --success-color: #00ffb7;
  --succes-color-hover: #00cc33;

  --error-color: #ff3333;
  --error-color-hover: #cc0000;

  --yellow-color: #ffe100;
  --yellow-color-hover: #ffcc00;

  /* Font sizes */

  --big-title-size: clamp(2.5rem, 5vw, 4.375rem);
  --title-size: clamp(1.5rem, 3vw, 2.1875rem);
  --normal-size: clamp(0.9375rem, 1.5vw, 0.9375rem);
  --important-size: clamp(1.25rem, 3vw, 1.875rem);

  --button-size: 25px;

  /* Colors */

  --link-color: #008cff;
  --link-color-hover: #00689c;

  --green-color: #00ff55;
  --green-color-hover: #00cc33;

  --normal-padding: 20px 350px;

  --normal-padding-media: 30px 20px;

  --input-padding: 5px;
  --border-size: 10px;

  --normal-margin: 20px;

  /* Fonts */

  --font-heading: "Inter", sans-serif;
  --font-body: "Roboto", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-funny: "Silkscreen", sans-serif;
  --font-tertiary: "Protest Strike", sans-serif;

  /* Other combinations: Montserrat and Roboto */

  /* Other */

  --inclination: skewX(15deg);
  --normal-radius: 5px;

  /* Opacities */

  --opacity-1: 40%;
  --opacity-2: 25%;
}
