:root {
  --bg-primary-to-b: linear-gradient(to bottom, #0f172a, #0f172a, #12294d);
  --bg-secondary: #121b31;
  --bg-secondary-hover: #17233f;
  --bg-tertiary: #002335;
  --bg-tertiary-hover: #00293d;
  --btn-color: #fff;
  --btn-hover: #dddddd;
  --black: #000000;
  --black-hover: #222222;
  --white: #ffffff;
  --white-hover: #d6d6d6;
  --gray: #dbdbdb;
  --gray-hover: #c7c7c7;

  /* Opacitied colors */

  --white-o: rgba(255, 255, 255, 0.2);
  --black-o: rgba(0, 0, 0, 0.2);

  /* Gradients */

  --g-white-purple: linear-gradient(90deg, #fff, #5e00ff);

  --secondary-color: #5e00ff;
  --secondary-color-hover: #3c00a5;

  --correct-answer: linear-gradient(90deg, #008bd0, #00cfde);
  --correct-answer-shadow: #00e2f242;
  --normal-answer: #008cff;
  --normal-answer-shadow: #008cff50;

  --accept-question: linear-gradient(90deg, #5bd894, #30724e);
  --accept-question-hover: linear-gradient(90deg, #30724e, #5bd894);
  --refuse-question: #e0e0e0;
  --refuse-question-hover: #cfcfcf;

  /* Font sizes */

  --big-title-size: 70px;
  --normal-size: 15px;
  --title-size: 35px;
  --important-size: 30px;

  --button-size: 25px;

  /* Colors */

  --link-color: #008cff;
  --link-color-hover: #00689c;

  --green-color: #00FF55;
  --green-color-hover: #00cc33;

  --normal-padding: 20px 250px;
  --normal-padding-media: 20px;
  --padding-size: 25px;
  --input-padding: 5px;
  --border-size: 10px;

  --normal-margin: 20px;

  /* Fonts */

  --font-heading: "Inter", sans-serif;
  --font-body: "Roboto", sans-serif;
  --font-secondary: "Poppins", sans-serif;

  /* Other */

  --inclination: skewX(15deg);
  --normal-radius: 5px;

  /* Opacities */

  --opacity-1: 40%;
  --opacity-2: 25%;
}
